<h1 class="text-center">"Quality As a Service"</h1>
<p>Opal Trading is a dynamic and responsive company that aims to provide unsurpassed services for corporates, public and other private sectors. Opal Trading is based in Ajman Free zone and serving the UAE & G.C.C market with our solutions and services which have been proven to be cost effective, competetive and offers a significant benefits in comparison to all available and competing products and services in the market. Currently we are focusing on printing consumbles and networking solutions.
</p>

<p>&nbsp;</p>

<h2>Location</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d867.6480439027856!2d55.45284681022159!3d25.419365859419184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sae!4v1437232140549" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2>Contact</h2>
<p>email: info@opaltrading.co</p>
<p>Mobile: 055237642</p>
<p>Mobile: 0552324642</p>
<p>P.O Box: 124334</p>