<div class="row">
	<div class="col-md-12">
		<form name="productUploadForm" id="productUploadForm" method="post" class="form-inline" novalidate>
			<div class="input-group">
				<div class="input-group-addon">
					<span style="font-size: 1.3em;" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
				</div>
				<input class="form-control" type="file" id="file" name="file">
			</div>
			<button ng-click="uploadProductFile()" class="btn btn-primary">Upload</button>
		</form>
	</div>
</div>