<div class="row">
	<div class="col-md-12 add-space">
		<h4 class="alert alert-danger" ng-show="error">{{error}}</h4>
		<form name="productUploadForm" id="productUploadForm" method="post" class="form-inline" novalidate>
			<div class="input-group">
				<div class="input-group-addon">
					<span style="font-size: 1.3em;" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
				</div>
				<input class="form-control" type="file" id="productFile" ng-model="productUploadForm.file" name="productFile">
			</div>
			<button ng-click="uploadProductFile()" class="btn btn-primary">Upload</button>
		</form>
		<h4 ng-hide="products" class="alert alert-info">No result to show!</h4>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="text" ng-model="searchInk" class="form-control" placeholder="Search ....">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-striped table-condensed no-animate">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Model</th>
						<th>Description</th>
						<th>Condition</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr class="no-animate" ng-repeat="product in products | filter:searchInk">
						<td>{{product.oem}}</td>
						<td>{{product.mpn}}</td>
						<td>{{product.desc}}</td>
						<td>{{product.condition}}</td>
						<td>{{product.quantity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>

</div>